<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FTrainer Admin</title>
    <link rel="icon" href="/images/title_logo.png" type="image/png">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<nav class = "nav-div">
        <a href="/admin"><img th:src="@{/images/trainer_logo.png}" class="nav-logo-image-home" alt="FTrainer Home"></a>
        <div clas="navbar-right">
            <span class="navbar-text">Hello, <span th:text="${#authentication.name}"></span></span>
            <a class="navbar-text" th:href="@{/logout}" onclick="return confirm('Are you sure you want to logout?');">Logout</a>
        <div>
</nav>
<div class="admin-index-div">
    <h2>ADMIN PAGE</h2>
    <div class="form-actions row justify-content-center">
        <div class="form-actions col-sm-1">
            <a th:href="@{/admin/showAllClients/1}">
                <button type="button" style="background-color: rgb(200,0,0); margin-top: 20px"> Show all Clients </button>
            </a>
        </div>
    </div>
    <div class="form-actions row justify-content-center">
        <div class="form-actions col-sm-1">
            <a th:href="@{/admin/showAllTrainers}">
                <button type="button" style="background-color: rgb(200,0,0); margin-top: 20px"> Show all Trainers </button>
            </a>
    </div>
</div>
</div>
</body>
</html>