<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients List</title>
    <link rel="icon" href="/images/title_logo.png" type="image/png">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<script th:src="@{/js/script.js}"></script>
<body>
<nav th:replace="~{fragments/header-fragment :: header-navbar}"></nav>

<div class="sorting-options" style="margin-bottom: 20px; margin-right: 20px; display: flex; justify-content: right;">
    <div>
        <form method="get" th:action="@{'/admin/showAllClients/1'}">
            <input type="text" name="searchKeyword" th:value="${searchKeyword}" placeholder="Search clients..." />
            <input type="hidden" name="sortOrder" th:value="${sortOrder}" />
            <button type="submit" style="font-size: 18px;">Search</button>
            <a th:href="@{/admin/showAllClients/1}">
                <button type="button" style="background-color: rgba(200,0,0,0.6); font-size: 18px; color: black"> Reset </button>
            </a>
        </form>
    </div>
    <label style="margin: 10px; font-size: 18px;">Sort By: </label>
    <form method="get" th:action="@{'/admin/showAllClients/' + ${currentPage}}">
        <input type="hidden" name="searchKeyword" th:value="${searchKeyword}" />
        <select name="sortOrder" onchange="this.form.submit()" style="width: 100%">
            <option th:value="asc" th:selected="${sortOrder == 'asc'}">Ascending</option>
            <option th:value="desc" th:selected="${sortOrder == 'desc'}">Descending</option>
        </select>
    </form>
</div>


<div class="clients-list-div">
<div class="admin-list-users-div">
    <table class="table table-striped" style="width: 100%;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${listClients}">
            <td th:text="${client.id}"></td>
            <td th:text="${client.username}"></td>
            <td th:text="${client.email}"></td>
            <td>
                <form th:action="@{/user/{id}/editForm(id=${client.id})}" method="get">
                    <input type="hidden" name="userId" th:value="${client.id}" />
                    <button type="submit" class="btn btn-danger">Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/{id}/delete(id=${client.id})}" method="post">
                    <input type="hidden" name="userId" th:value="${client.id}" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div style="font-size: 16px; margin: 15px;">
            Total Users: [[${totalItems}]] </div>
    <div>
        <div th:if = "${totalPages > 1}" class="pagination" >
            <a th:if="${currentPage > 1}" th:href="@{'/admin/showAllClients/1' + '?sortOrder=' + ${sortOrder} + '&searchKeyword=' + ${searchKeyword}}"  style="margin-left: 10px;">First</a>
            <span th:unless="${currentPage > 1}" style="margin-left: 10px; font-weight: bold;">First</span>
            <a th:if="${currentPage > 1}" th:href="@{'/admin/showAllClients/' + ${currentPage - 1} + '?sortOrder=' + ${sortOrder} + '&searchKeyword=' + ${searchKeyword}}"  style="margin-left: 10px;">Previous</a>
            <span th:unless="${currentPage > 1}" style="margin-left: 10px; font-weight: bold;">Previous</span>
            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/admin/showAllClients/' + ${i} + '?sortOrder=' + ${sortOrder} + '&searchKeyword=' + ${searchKeyword}}"  style="margin: 0 5px; text-decoration: none;">[[${i}]]</a>
                <span th:unless="${currentPage != i}" style="margin: 0 5px; font-weight: bold;">[[${i}]]</span>
            </span>
                <a th:if="${currentPage < totalPages}" th:href="@{'/admin/showAllClients/' + ${currentPage + 1} + '?sortOrder=' + ${sortOrder} + '&searchKeyword=' + ${searchKeyword}}" style="margin-left: 10px;">Next</a>
                <span th:unless="${currentPage < totalPages}" style="margin-left: 10px; font-weight: bold;">Next</span>
            <a th:if="${currentPage < totalPages}" th:href="@{'/admin/showAllClients/' + ${totalPages} + '?sortOrder=' + ${sortOrder} + '&searchKeyword=' + ${searchKeyword}}" style="margin-left: 10px;">Last</a>
            <span th:unless="${currentPage < totalPages}" style="margin-left: 10px; font-weight: bold;">Last</span>
        </div></div>
    </div>
</div></div>
</body>
</html>
