<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FTrainer Client</title>
    <link rel="icon" href="/images/title_logo.png" type="image/png">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<script th:src="@{/js/script.js}">
</script>
<body class ="indexBody">
<nav th:replace="~{fragments/header-fragment :: header-navbar}"></nav>
<div class="add-program-div">
    <form th:action="@{/trainer/addSetExercise}" method="post">
        <div id="dynamic-inputs">
        <select id = "selectedExerciseId" name="selectedExerciseOriginal" style="width: 20rem;" hidden>
            <option th:each="exercise : ${exercises}" th:value="${exercise.id}" th:text="${exercise.name}"></option>
        </select>
        <input type="hidden" name="programId" th:value="${program.id}">
        </div>
        <button type="button" onclick="generateDiv()" class="black-button">Add Exercise</button>
        <button type="submit" class="red-button">Save Program</button>
    </form>
</div>
</body>
</html>
