<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FTrainer Client</title>
    <link rel="icon" href="/images/title_logo.png" type="image/png">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<script th:src="@{/js/script.js}"></script>
<body class="indexBody">
<nav th:replace="~{fragments/header-fragment :: header-navbar}"></nav>
<div class="request-container">
    <form th:action="@{/client/sendRequest/{trainer_id}(trainer_id=${trainer.id})}" method="post">
        <div class="request-form">
        <h2>Write a message to trainer: </h2>
            <label for="description"><b>Request Description </b>(write what's your fitness goal)>:</label>
        <textarea class ="request-textarea" id="description" name="description" rows="10" cols="50" th:required="true"></textarea>
        <button type="submit" class="request-button" style="margin-top:10px;">Send Request</button>
            <a th:href="@{/client/showAllTrainers}"><button type="button" class="request-button" style="background-color: rgba(200,0,0,0.8);">Cancel</button></a>
        </div>
    </form>
</div>
</body>
</html>
