<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FTrainer Client</title>
    <link rel="icon" href="/images/title_logo.png" type="image/png">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<script th:src="@{/js/script.js}"></script>
<body class="indexBody">
<nav th:replace="~{fragments/header-fragment :: header-navbar}"></nav>
<div class="program-container">
    <h2>Your programs</h2>
    <div style="display: flex; ">
    <div class="search-div-program">SEARCH</div>
    <div class="program-grid">
    <div class ="program-div" th:each="program : ${programs}">
            <label th:text="'Program by trainer: ' + ${program.value.firstname} + ' ' + ${program.value.lastname}"></label>
            <a th:href="@{/client/showProgram}">
                <button class="trainer-div-button" type="button"> Details </button></a>
    </div></div></div>
</div>

</body>
</html>
