<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FTrainer Login</title>
    <link rel="icon" href="/images/title_logo.png" type="image/png">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body class = "indexBody">
<div class="login-div">
    <div>
        <h4>An error occurred</h4>
        <p th:text="${error}"></p>
    </div>
    <a sec:authorize="hasAnyAuthority('CLIENT', 'TRAINER', 'ADMIN')"
       th:href="@{${#strings.contains(#authentication.principal.authorities, 'CLIENT') ? '/client'
       : (#strings.contains(#authentication.principal.authorities, 'TRAINER') ? '/trainer'
       : (#strings.contains(#authentication.principal.authorities, 'ADMIN') ? '/admin' : '/'))}}" >
        Back To Home </a>
</div>
</body>
</html>
